  <!-- Full Page Intro -->
<div class="view" style="background-image: url('../assets/img/kit/profile_city.jpg'); background-repeat: no-repeat; background-size: cover;">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="text-center white-text mx-5 wow fadeIn">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4">
            HARNESS EVERY CLICK, TAP AND SWIPE.
          </h1>
          <form>
            <fieldset>
              <input name="text" type="text" class="url-text-input" placeholder="Enter Your Full URL" value="">
              <input type="button" value="Shorten" class="btn btn-lg btn-shorten">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
<!--Main layout-->
<main>
  <div class="container">
    <!--Section: Main features & Quick Start-->
    <section class="my-5">
      <h3 class="h3 text-center mb-5">About Url Shortner</h3>
      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">
          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-code fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Bootstrap 4</h5>
              <p class="grey-text">Thanks to MDB you can take advantage of all feature of newest Bootstrap 4.</p>
            </div>
          </div>
          <!--/First row-->
          <div style="height:30px"></div>
          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-book fa-2x blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Detailed documentation</h5>
              <p class="grey-text">
                We give you detailed user-friendly documentation at your disposal. It will help you to implement your ideas
                easily.
              </p>
            </div>
          </div>
          <!--/Second row-->
          <div style="height:30px"></div>
          <!--Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-graduation-cap fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Lots of tutorials</h5>
              <p class="grey-text">
                We care about the development of our users. We have prepared numerous tutorials, which allow you to learn
                how to use MDB as well as other technologies.
              </p>
            </div>
          </div>
          <!--/Third row-->
        </div>
        <!--/Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">
          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-code fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Bootstrap 4</h5>
              <p class="grey-text">Thanks to MDB you can take advantage of all feature of newest Bootstrap 4.</p>
            </div>
          </div>
          <!--/First row-->
          <div style="height:30px"></div>
          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-book fa-2x blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Detailed documentation</h5>
              <p class="grey-text">
                We give you detailed user-friendly documentation at your disposal. It will help you to implement your ideas
                easily.
              </p>
            </div>
          </div>
          <!--/Second row-->
          <div style="height:30px"></div>
          <!--Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-graduation-cap fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Lots of tutorials</h5>
              <p class="grey-text">
                We care about the development of our users. We have prepared numerous tutorials, which allow you to learn
                how to use MDB as well as other technologies.
              </p>
            </div>
          </div>
          <!--/Third row-->
        </div>
        <!--/Grid column-->
      </div>
      <!--/Grid row-->
    </section>
    <!--Section: Main features & Quick Start-->
    <hr class="my-5">
    <!--Section: Not enough-->
    <section>
      <h2 class="my-5 h3 text-center">Here is our team</h2>
      <!--First row-->
      <div class="row features-small mb-5 mt-3 wow fadeIn">
        <!--First column-->
        <div class="col-md-4 text-center">
          <!--First row-->
          <img src="../assets/img/contributers/shesh.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-contributer">
          <h5>Sheshadri</h5>
          <span>Solution Architect</span>
          <div>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-facebook-square"></i>
          </div>
          <!--/First row-->
        </div>
        <!--/First column-->
        <!--Second column-->
        <div class="col-md-4 text-center">
          <img src="../assets/img/contributers/gaurish.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-contributer">
          <h5>Gaurish Shukla</h5>
          <span>Designer</span>
          <div>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-facebook-square"></i>
          </div>
        </div>
        <!--/Second column-->
        <!--Third column-->
        <div class="col-md-4 text-center">
          <img src="../assets/img/contributers/rohit.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-contributer">
          <h5>Rohit</h5>
          <span>Developer</span>
          <div>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-facebook-square"></i>
          </div>
        </div>
        <!--/Third column-->
      </div>
      <!--/First row-->
    </section>
    <!--Section: Not enough-->
    <hr class="mb-5">
    <!--Section: More-->
    <section>
      <h2 class="my-5 h3 text-center">...and even more</h2>
      <!--First row-->
      <div class="row features-small mt-5 wow fadeIn">
        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2 pl-3">
              <h5 class="feature-title font-bold mb-1">Cross-browser compatibility</h5>
              <p class="grey-text mt-2">
                Chrome, Firefox, IE, Safari, Opera, Microsoft Edge - MDB loves all browsers; all browsers love MDB.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->
        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-level-up fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Frequent updates</h5>
              <p class="grey-text mt-2">
                MDB becomes better every month. We love the project and enhance as much as possible.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->
        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-comments-o fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Active community</h5>
              <p class="grey-text mt-2">
                Our society grows day by day. Visit our forum and check how it is to be a part of our family.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->
        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">jQuery 3.x</h5>
              <p class="grey-text mt-2">
                MDB is integrated with newest jQuery. Therefore you can use all the latest features which come along with
                it.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->
      </div>
      <!--/First row-->
      <!--Second row-->
      <div class="row features-small mt-4 wow fadeIn">
        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Modularity</h5>
              <p class="grey-text mt-2">
                Material Design for Bootstrap comes with both, compiled, ready to use libraries including all features as
                well as modules for CSS (SASS files) and JS.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->
        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Technical support</h5>
              <p class="grey-text mt-2">
                We care about reliability. If you have any questions - do not hesitate to contact us.
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->
        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Flexbox</h5>
              <p class="grey-text mt-2">MDB fully supports Flex Box. You can forget about alignment issues.</p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->
        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-file-code-o fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">SASS files</h5>
              <p class="grey-text mt-2">Arranged and well documented .scss files can't wait until you compile them.</p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->
      </div>
      <!--/Second row-->
    </section>
    <!--Section: More-->
  </div>
</main>
<!--Main layout-->
